.crossed-out {
  text-decoration: line-through;
}

img[src="../assets/images/trashbin.png"], img[src="../assets/images/edit.png"]:hover {
  cursor: pointer;
}

.todoDescriptionText {
  padding-right: 1rem;
}

li.list-group-item:focus {
  border: 1px solid blueviolet;
}